In [17]:
import numpy as np

In [18]:
import pandas as pd

In [19]:
a = pd.DataFrame({'first':[1,0,1,0,1,0]})

In [20]:
a

   first
0      1
1      0
2      1
3      0
4      1
5      0

<h3> Finding the accuracy </h3>

In [21]:
float(len(a[a['first'] == 0]))/len(a)

0.5

In [24]:
b = pd.DataFrame([1,1,1,1,1,1])

In [25]:
b

   0
0  1
1  1
2  1
3  1
4  1
5  1

In [26]:
from sklearn import metrics

In [27]:
metrics.accuracy_score(a,b)

0.5

In [28]:
metrics.precision_score(a,b)

0.5

In [29]:
metrics.recall_score(a,b)

1.0

In [30]:
metrics.precision_recall_curve(a,b)

(array([ 0.5,  1. ]), array([ 1.,  0.]), array([1], dtype=int64))

In [34]:
from time import time
a = time()

In [35]:
a

1482620106.75